---
import arrowRight from '@assets/icons/arrow-right.svg'
import leaf from '@assets/icons/leaf-up.svg'
import Header from '@components/Header.astro'
import config from '@config/config.json'
import Base from '@layouts/Base.astro'
const {
  site: { logo_text} = {}
} = config;
---

<Base title='404' description='404 page'>
  <main class=" min-h-screen">

    <Header  client:load />
    <div class="section">
      <div class="flex flex-shrink-0 justify-center">
        <a href="/" class="inline-flex">
          <span class="sr-only">{logo_text}</span>
          <img class="w-auto h-32" src={leaf.src} alt="">
        </a>
      </div>
      <div class="py-5">
        <div class="text-center space-y-2">
          <p class="font-semibold">404</p>
          <h1 class="font-bold sm:text-5xl">Page not found.</h1>
          <p class="text-bas">Sorry, we couldn’t find the page you’re looking for.</p>
          <div class="mt-6">
            <a role="button" href="/"  class="group btn inline-flex relative items-center">
              <span class="transform transition ease-in-out group-hover:-translate-x-5">Home</span>
              <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>
