---
import Banner from '@sections/Banner.astro'
import MeetYourArtist from '@sections/MeetYourArtist.astro'
import Services from '@sections/Services.astro'
import Testimonials from '@sections/Testimonials.astro'
import VisitUs from '@sections/VisitUs.astro'
import Base from '../layouts/Base.astro'
---

<Base
  title="Brows with Nana | Microblading Plano, TX"
  description='BrowsWithNana is your one-stop shop for beautiful, flawless microbladed brows in Plano, TX.'
>
  <Banner />
  <main>
    <MeetYourArtist />
    <Services />
    <VisitUs />
    <Testimonials />
  </main>
</Base>
