---
import leaf from '@assets/icons/leaf-up.svg'
import Header from '@components/Header.astro'
import LinkButton from '@components/LinkButton.astro'
import config from '@config/config.json'
import { main } from "@config/menu.json"
import Base from '@layouts/Base.astro'
const {
  site: { logo_text} = {}
} = config;
// TODO: No Index this page
---

<Base title='Thank you' noindex description='Thank you page'>
    <Header />
  <main>

    <div class="section">
      <div class="flex flex-shrink-0 justify-center">
        <a href={main.Home} aria-label="home" class="inline-flex">
          <span class="sr-only">{logo_text}</span>
          <img class="w-auto h-32" src={leaf.src} alt="">
        </a>
      </div>
      <div class="py-5">
        <div class="text-center space-y-2">
          <p class="font-semibold">Form submitted</p>
          <h1 class="font-bold sm:text-5xl">Thank You!</h1>
          <p class="text-bas">Thank you for contacting us! We will be in touch with you shortly.</p>
          <div class="mt-6">
            <LinkButton href={main.Home} text='Home' />
          </div>
        </div>
      </div>
    </div>
  </main>
</Base>
