---
export type Props = {
  text: string;
  class?: string;
};

const { text, class: className } = Astro.props;
---

<button
  class={`w-fit border border-black rounded-full cursor-pointer p-2 ${className}`}
>
  {text}
</button>
