---
export type Props = {
  text: string
  class?: string
}

const { text, class: className } = Astro.props
---

<button class={`w-fit border cursor-pointer bg-black p-2 ${className}`}>
  {text}
</button>
