---
import Logo from '@components/Logo.astro'
import menu from '@config/menu.json'

export interface ChildNavigationLink {
  name: string
  url: string
}

export interface NavigationLink {
  name: string
  url: string
  hasChildren?: boolean
  children?: ChildNavigationLink[]
}

const { main }: { main: NavigationLink[] } = menu
---

<header>
  <nav class="flex justify-between p-5">
    <Logo />
    <div class="space-x-5">
      {
        main.map((link) => (
          <a
            class="font-primary"
            href={link.url}
            aria-label={`Go to ${link.name} page`}
          >
            {link.name.toUpperCase()}
          </a>
        ))
      }
    </div>
  </nav>
</header>
