---

import arrowRight from '@assets/icons/arrow-right.svg'
import type { HTMLAttributes } from "astro/types"

type Props = {
  external?: boolean
  text: string,
  className?: string
} & HTMLAttributes<'a'>

const { external, text = 'Book Now', className, ...rest } = Astro.props
---

<a role="button" aria-label={text} {...rest} {...external ? {'target': '_blank', 'rel': 'nofollow'} : {}} class:list={["group btn text-dark border-1 inline-flex justify-center relative items-center", className]}>
  <span class="transform transition ease-in-out group-hover:-translate-x-5">{text}</span>
  <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={'right arrow'}  />
</a>