---
import config from '@config/config.json'
const {
  title,
  logo_text
}: {
  title: string
  logo_text: string
} = config.site
---

<a href="/" class="font-logo text-black text-3xl">
  {logo_text ?? title}
</a>
