---

import logo from "@assets/icons/brows-with-nana-logo.svg"
import { site } from "@config/config.json"
import { main } from "@config/menu.json"

const {
  logo_text,
  title
} = site;
---

  <a href={main.Home} aria-label="home" class="font-logo text-black text-3xl animate-fade">
    <span class="sr-only">{logo_text}</span>
      <img
        src={logo.src}
        alt={title}
        class=" aspect-square object-contain w-24 md:w-28 lg:w-40"
      />
  </a>