---
import Button from './Button.astro'

export interface Props {
  title: string
  body: string
}

const { title, body } = Astro.props
---

<a
  class="flex flex-col space-y-5 rounded-lg h-72 px-10 justify-center hover:shadow-lg hover:scale-105 transition-all items-center"
  href="/"
>
  <h3 class="text-2xl">{title}</h3>
  <p class="text-gray-500">{body}</p>
  <Button text="Read More" />
</a>
