---
import heroGirl from '@assets/images/hero-girl.png'
import { Image } from 'astro:assets'
---

<section class="h-screen pt-28 section-padding-x md:pt-44 banner-bg">
  <div
    class="h-full mx-auto max-w-7xl grid grid-cols-1 md:gap-y-5 lg:grid-cols-12 pt-5"
  >
    <div class="space-y-5 animate-fade-right self-center lg:col-span-4">
      <h2 class="">Stand Out with Beautiful Brows!</h2>
      <p class="font-secondary italic font-extralight text-lg md:w-2/3">
        Enhance Your Beauty, Frame Your Confidence: Flawless Brows by Experts
      </p>
      <button class="btn text-dark" type="button"
        >Schedule an Appointment</button
      >
    </div>
      <Image class="object-full col-span-8 self-end " src={heroGirl} alt="" />
  </div>
</section>

<style>
  .banner-bg {
    background: linear-gradient(
      120deg,
      rgba(231, 220, 237, 1) 0%,
      rgba(254, 247, 252, 1) 86%
    );
  }
</style>
