---
---

<section class="h-screen section banner-bg">
  <div class="h-full mx-auto max-w-7xl lg:grid lg:grid-cols-12">
    <div
      class="space-y-10 animate-fade-right self-center pb-24 pt-10 sm:pb-32 lg:col-span-7 lg:pb-56 lg:pt-48 xl:col-span-5"
    >
      <h2 class="text-6xl text-[#423139]">Stand Out with Beautiful Brows!</h2>
      <p
        class="text-[#8F7880] font-secondary italic font-extralight text-lg w-2/3"
      >
        Enhance Your Beauty, Frame Your Confidence: Flawless Brows by Experts
      </p>
      <button class="btn text-[#423139]" type="button"
        >Schedule an Appointment</button
      >
    </div>
    <div class="col-span-7 max-h-full self-end">
      <img class="max-w-full h-[800px]" src="/images/hero-girl.png" />
    </div>
  </div>
</section>

<style>
  .banner-bg {
    background: rgb(231, 220, 237);
    background: linear-gradient(
      120deg,
      rgba(231, 220, 237, 1) 0%,
      rgba(254, 247, 252, 1) 86%
    );
  }
</style>
