---
---

<section class="h-screen flex flex-row px-60 banner">
  <div class="flex justify-center flex-col space-y-10 animate-fade-right">
    <h2 class="text-6xl">Stand Out with Beautiful Brows!</h2>
    <p class="font-secondary italic font-extralight text-lg w-2/3">
      Enhance Your Beauty, Frame Your Confidence: Flawless Brows by Experts
    </p>
    <button class="btn" type="button">Book Appointment</button>
  </div>
  <!-- <img
    class="animate-fade-left"
    src="/images/eye_brow_01.png"
    alt="hero"
    class="w-1/2"
  /> -->
</section>
