---
import heroGirl from '@assets/images/hero-girl.png'
import CTA from '@components/CTA.astro'
import Header from '@components/Header.astro'
import { Image } from 'astro:assets'
---

<div class="banner-bg h-screen grid grid-rows-[1fr_auto] overflow-hidden">
  <Header />
  <div
    class="grid grid-cols-1 md:gap-y-5 lg:grid-cols-12 gap-y-10 section-padding-x"
  >
    <div class="space-y-6 col-span-6 animate-fade-right self-center lg:col-span-5">
      <h1 class="text-4xl">Expert Microblading Services in Plano, TX for Stunning Brows</h1>
      <p class="font-secondary italic font-extralight text-lg md:w-2/3">
        Enhance Your Beauty, Frame Your Confidence: Flawless Brows by Experts
      </p>
      <CTA text='Schedule an appointment' />
    </div>
      <Image loading='eager' class="col-span-6 object-contain pointer-events-non select-none" src={heroGirl} aria-hidden alt="" />
  </div>
</div>
