---

import arrowRight from '@assets/icons/arrow-right.svg'
---
<section class="section-colored space-y-10 text-center section-padding-y">
    <h3 class="text-5xl lg:text-6xl text-dark">Schedule your dream brows, today!</h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga amet qui
        laudantium dolorem eveniet, ut aspernatur quo, dolorum illo.
    </p>
    <button role="button"  class="group btn inline-flex justify-center relative items-center">
        <span class="transform transition ease-in-out group-hover:-translate-x-5">Schedule an appointments</span>
        <img class="transform transition ease-in-out right-5 invisible absolute  group-hover:-translate-x-5 group-hover:opacity-100 group-hover:visible" src={arrowRight.src} alt={''}  />
    </button>
</section>
