<section class="section-colored space-y-10 text-center">
    <h3 class="text-6xl text-[#423139]">Schedule your dream brows, today!</h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga amet qui
        laudantium dolorem eveniet, ut aspernatur quo, dolorum illo.
    </p>
    <button class="btn" type="button">Schedule an appointment</button>
</section>
