<section class="section space-y-10 text-center">
    <h3>Schedule your dream brows today!</h3>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga amet qui
        laudantium dolorem eveniet, ut aspernatur quo, dolorum illo, quidem
        laborum dicta minima voluptatibus iusto fugiat deserunt odit cupiditate
        culpa?
    </p>
    <button class="btn" type="button">Schedule an appointment</button>
</section>
