---
import meetYourArtist from '@assets/images/meet-your-artist.jpg'
import { Image } from "astro:assets"
---

<section class="section grid lg:grid-cols-2 gap-y-10 lg:gap-20">
  <div class="space-y-5 self-center grid-rows-1">
    <h3 class="text-6xl">Meet your artist</h3>
    <p>
      Welcome to Brows with Nana, and thank you for stopping by! My name is
      Nancy, but my friends call me Nana for short. I am the artist/owner behind
      Brows with Nana, located in the heart of Plano, TX (later relocated to
      HOSHI STUDIO in Frisco, TX).
    </p>
    <p >
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt soluta,
      iste, ipsum nulla minus alias iure facere eos eligendi itaque cupiditate
      quod optio velit esse, ea sed corporis atque eaque?
    </p>
  </div>
  <div class="leaf-image-container mx-auto grid-rows-2 lg:-order-1 ">
    <Image
      src={meetYourArtist}
      alt="Artist Nancy Lin microblading a female client"
    />
  </div>
</section>
