---
---

<section class="section space-y-10">
  <h2 class="text-3xl text-center">MEET YOUR ARTIST</h2>
  <div class="grid grid-cols-2 h-full gap-10">
    <div class="text-center self-center space-y-5 px-40">
      <h3 class="text-2xl">Nancy Lin | Nana</h3>
      <p>
        Welcome to Brows with Nana, and thank you for stopping by! My name is
        Nancy, but my friends call me Nana for short. I am the artist/owner
        behind Brows with Nana, located in the heart of Plano, TX (later
        relocated to HOSHI STUDIO in Frisco, TX).
      </p>

      <p>
        I'm a brow specialist who is CRAZY about brows and specializes in
        micro-blading, micro-shading, and other brow techniques. As a super
        perfectionist, I've undergone intensive training and received my
        certification with the highly renowned artist Holly Starcevich at Hoshi
        Studio. To this day, I am still practicing non-stop while attending
        shadowing opportunities at the studio to stay up-to-date and further my
        education continuously.
      </p>

      <p>
        I'm a HUGE advocate of natural beauty (and matcha tea, sweets, and other
        delightful things). Still, I never would have imagined that the
        specialized techniques I had learned in class could greatly ENHANCE a
        client's natural brow based on their unique facial features and save
        time doing brow makeup every morning.
      </p>
      <p>
        I am passionate about what I do and hope to TRANSFORM and give you the
        brows you've always dreamed of. Unfortunately, brows don't magically
        happen overnight, so click below to make your appointment today!
      </p>
      <p>
        Please be sure you visit the <a href="/read-before-you-book">
          Read Before You Book</a
        > & <a href="/policies">Policies</a>page to find all the answers to your
        questions and educate you on what we are doing to protect you from
        Covid-19. If you have any unanswered questions, please feel free to
        email me @browswithnana@gmail.com Stay safe and healthy, brow cuties,
        and I look forward to meeting you!
      </p>
      <p>Love & Blessings - Nana ❤️</p>
    </div>
    <!-- TODO: Update with cloudinary image component -->
    <figure class="h-full bg-black"></figure>
  </div>
</section>
