---
---

<section class="space-y-10">
  <h2 class="text-3xl text-center font-primary">Meet your artist</h2>
  <div class="grid grid-cols-2 h-full gap-10">
    <div class="text-center self-center space-y-5">
      <h3 class="text-2xl font-primary">Nancy Lin</h3>
      <p class="text-lg font-secondary">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, velit modi,
        debitis vitae omnis provident perspiciatis quam itaque distinctio cum
        aliquam ipsum numquam consequuntur voluptas animi deleniti culpa quasi
        alias?
        <br />
        <br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente molestiae
        quo fugiat, similique maxime quisquam fugit dolorem itaque beatae id? Asperiores
        consectetur minima sint repellat repudiandae quod sed nobis quidem.
      </p>
    </div>
    <!-- TODO: Update with cloudinary image component -->
    <figure class="h-full bg-black"></figure>
  </div>
</section>
