---
import meetYourArtist from '@assets/images/nancy-potrait.jpeg'
import { Image } from "astro:assets"
---

<section class="section grid lg:grid-cols-2 gap-y-10 lg:gap-20">
  <div class="space-y-5 self-center grid-rows-1">
    <h3 class="text-6xl">Meet your artist</h3>
    <p>
      Welcome to Brows with Nana, and thank you for stopping by! My name is
      Nancy, but my friends call me Nana for short. I am the artist/owner behind
      Brows with Nana, located in the heart of Plano, TX (later relocated to
      HOSHI STUDIO in Frisco, TX).
    </p>
    <p >
      I'm a HUGE advocate of natural beauty (and matcha tea, sweets, and other delightful things), but never would I have imagined how impactful and essential luxury PMU brows can bring in your everyday life. My goal is to ENHANCE your natural brows based on your UNIQUE facial features so that you can instantly wake up more beautiful 24/7. 
    </p>
  </div>
  <div class="leaf-image-container mx-auto grid-rows-2 lg:-order-1">
    <Image
      width={550}
      src={meetYourArtist}
      alt="Artist Nancy Lin microblading a female client"
      class="aspect-square object-cover object-top rounded-lg"
    />
  </div>
</section>
