---
const services = [
  {
    title: 'Brows',
    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ',
  },

  {
    title: 'Lips',
    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ',
  },

  {
    title: 'Makeup',
    description: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. ',
  },
] as const;
---

<!-- <section class="section">
  <h3>Our Services</h3>
  <ul
    role="list"
    class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {
      services.map(({ title, description }) => (
        <li class="col-span-1 flex flex-col text-center">
          <div class="flex flex-1 flex-col p-8">
            <svg
              width="100"
              height="88"
              viewBox="0 0 100 88"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M99.7235 19.603C100.162 18.9374 100.072 18.0562 99.5087 17.4923L93.5226 11.5045C85.0872 3.07072 73.0583 -0.702293 61.3163 1.40348L5.59979 11.4053C2.86859 11.8955 0.70954 13.9955 0.143137 16.7119C-0.422447 19.4284 0.718556 22.2161 3.02679 23.7563L3.25794 23.9104C4.78912 24.926 6.66538 25.2826 8.46213 24.899L60.9237 13.5561C69.4123 11.7209 78.2551 12.4635 86.3192 15.6881L97.694 20.239C98.4358 20.5374 99.285 20.271 99.7235 19.603ZM87.5782 12.5709C78.8904 9.09377 69.3615 8.29376 60.2155 10.2741L7.75884 21.6169C6.84735 21.8137 5.89569 21.6317 5.12109 21.1136L4.89158 20.9595C3.7227 20.18 3.14401 18.7693 3.43008 17.3939C3.71615 16.0185 4.80961 14.9553 6.19242 14.7078L61.9106 4.70927C72.5698 2.79695 83.4904 6.22159 91.1488 13.8783L91.3537 14.0848L87.5782 12.5709Z"
                fill="#8F7883"
              />
              <path
                d="M79.856 87.5066H89.9283C90.8553 87.5066 91.607 86.7549 91.607 85.8279V23.7154C91.6078 23.0793 91.248 22.4973 90.6791 22.2129L80.6068 17.1767C80.0863 16.9169 79.4683 16.9447 78.9732 17.2513C78.4781 17.5571 78.1773 18.0972 78.1773 18.6792V38.2033L72.9198 44.3387C70.1566 47.5666 66.7738 50.2076 62.9721 52.1044L62.686 52.247C58.2589 54.4519 53.3801 55.6011 48.4341 55.6044H43.3324C33.3003 55.6028 23.8542 50.8797 17.8344 42.855L17.0721 41.846C14.8467 38.8943 11.3679 37.1549 7.67114 37.1451V40.5025C10.3122 40.5091 12.7966 41.7517 14.386 43.86L15.1483 44.8673C15.3549 45.1444 15.5836 45.3993 15.7983 45.6682L15.259 46.7461C13.9458 49.3937 11.6261 51.4052 8.81952 52.3314L9.8802 55.5208C13.4803 54.3314 16.4647 51.7699 18.1869 48.3928C19.5779 49.824 21.0886 51.1338 22.7025 52.3076C21.6402 56.2274 19.5722 59.802 16.7033 62.6767L16.5598 62.8176L18.9271 65.198L19.073 65.0538C22.1075 62.016 24.3632 58.2905 25.6485 54.1946C27.392 55.2011 29.2174 56.0569 31.106 56.7528C30.9551 60.516 30.015 64.2054 28.3461 67.5825L27.992 68.2907L30.9969 69.7915L31.3494 69.0833C33.1019 65.562 34.1519 61.7332 34.4404 57.8102C37.1405 58.5159 39.9143 58.8963 42.7045 58.9438L41.2594 70.5112L44.5898 70.9276L46.0857 58.9684H48.4358C49.4579 58.9684 50.4801 58.9086 51.4973 58.8192L53.0088 70.9276L56.3392 70.5112L54.8285 58.3725C56.6834 58.0299 58.5089 57.5405 60.2876 56.9085C61.1179 60.975 62.7295 64.8415 65.0328 68.294L67.8263 66.4308C65.7287 63.2898 64.2688 59.7668 63.5311 56.0626L63.4385 55.5995C63.6885 55.4823 63.9418 55.3733 64.1918 55.2503L64.4778 55.1077C65.909 54.3757 67.2894 53.547 68.6091 52.6281C69.7615 56.4815 72.2222 59.811 75.5674 62.0439L77.4305 59.2504C74.5354 57.3233 72.464 54.3839 71.6239 51.0084L71.4796 50.4355C72.9108 49.2387 74.2452 47.9305 75.4698 46.5223L78.1773 43.3567V85.8279C78.1773 86.7549 78.9289 87.5066 79.856 87.5066ZM81.5347 84.1492V37.1451H88.2496V84.1492H81.5347ZM81.5347 30.4302H88.2496V33.7877H81.5347V30.4302ZM88.2496 24.7531V27.0728H81.5347V21.3956L88.2496 24.7531Z"
                fill="#8F7883"
              />
            </svg>
            <h3 class="text-2xl">{title}</h3>
            <p class="text-gray-500">{description}</p>
          </div>
        </li>
      ))
    }
  </ul>
</section> -->
<section class="section">
  <div class="mx-auto max-w-xl lg:max-w-none">
    <div class="text-center">
      <h3>Our Services</h3>
    </div>

    <div
      class="mx-auto mt-12 grid max-w-sm grid-cols-1 gap-x-8 gap-y-10 sm:max-w-none lg:grid-cols-3"
    >
      {
        services.map((service) => (
          <div class="text-center sm:flex sm:text-left lg:block lg:text-center">
            <div class="sm:flex-shrink-0">
              <div class="flow-root">
                <svg
                  width="100"
                  height="88"
                  viewBox="0 0 100 88"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M99.7235 19.603C100.162 18.9374 100.072 18.0562 99.5087 17.4923L93.5226 11.5045C85.0872 3.07072 73.0583 -0.702293 61.3163 1.40348L5.59979 11.4053C2.86859 11.8955 0.70954 13.9955 0.143137 16.7119C-0.422447 19.4284 0.718556 22.2161 3.02679 23.7563L3.25794 23.9104C4.78912 24.926 6.66538 25.2826 8.46213 24.899L60.9237 13.5561C69.4123 11.7209 78.2551 12.4635 86.3192 15.6881L97.694 20.239C98.4358 20.5374 99.285 20.271 99.7235 19.603ZM87.5782 12.5709C78.8904 9.09377 69.3615 8.29376 60.2155 10.2741L7.75884 21.6169C6.84735 21.8137 5.89569 21.6317 5.12109 21.1136L4.89158 20.9595C3.7227 20.18 3.14401 18.7693 3.43008 17.3939C3.71615 16.0185 4.80961 14.9553 6.19242 14.7078L61.9106 4.70927C72.5698 2.79695 83.4904 6.22159 91.1488 13.8783L91.3537 14.0848L87.5782 12.5709Z"
                    fill="#8F7883"
                  />
                  <path
                    d="M79.856 87.5066H89.9283C90.8553 87.5066 91.607 86.7549 91.607 85.8279V23.7154C91.6078 23.0793 91.248 22.4973 90.6791 22.2129L80.6068 17.1767C80.0863 16.9169 79.4683 16.9447 78.9732 17.2513C78.4781 17.5571 78.1773 18.0972 78.1773 18.6792V38.2033L72.9198 44.3387C70.1566 47.5666 66.7738 50.2076 62.9721 52.1044L62.686 52.247C58.2589 54.4519 53.3801 55.6011 48.4341 55.6044H43.3324C33.3003 55.6028 23.8542 50.8797 17.8344 42.855L17.0721 41.846C14.8467 38.8943 11.3679 37.1549 7.67114 37.1451V40.5025C10.3122 40.5091 12.7966 41.7517 14.386 43.86L15.1483 44.8673C15.3549 45.1444 15.5836 45.3993 15.7983 45.6682L15.259 46.7461C13.9458 49.3937 11.6261 51.4052 8.81952 52.3314L9.8802 55.5208C13.4803 54.3314 16.4647 51.7699 18.1869 48.3928C19.5779 49.824 21.0886 51.1338 22.7025 52.3076C21.6402 56.2274 19.5722 59.802 16.7033 62.6767L16.5598 62.8176L18.9271 65.198L19.073 65.0538C22.1075 62.016 24.3632 58.2905 25.6485 54.1946C27.392 55.2011 29.2174 56.0569 31.106 56.7528C30.9551 60.516 30.015 64.2054 28.3461 67.5825L27.992 68.2907L30.9969 69.7915L31.3494 69.0833C33.1019 65.562 34.1519 61.7332 34.4404 57.8102C37.1405 58.5159 39.9143 58.8963 42.7045 58.9438L41.2594 70.5112L44.5898 70.9276L46.0857 58.9684H48.4358C49.4579 58.9684 50.4801 58.9086 51.4973 58.8192L53.0088 70.9276L56.3392 70.5112L54.8285 58.3725C56.6834 58.0299 58.5089 57.5405 60.2876 56.9085C61.1179 60.975 62.7295 64.8415 65.0328 68.294L67.8263 66.4308C65.7287 63.2898 64.2688 59.7668 63.5311 56.0626L63.4385 55.5995C63.6885 55.4823 63.9418 55.3733 64.1918 55.2503L64.4778 55.1077C65.909 54.3757 67.2894 53.547 68.6091 52.6281C69.7615 56.4815 72.2222 59.811 75.5674 62.0439L77.4305 59.2504C74.5354 57.3233 72.464 54.3839 71.6239 51.0084L71.4796 50.4355C72.9108 49.2387 74.2452 47.9305 75.4698 46.5223L78.1773 43.3567V85.8279C78.1773 86.7549 78.9289 87.5066 79.856 87.5066ZM81.5347 84.1492V37.1451H88.2496V84.1492H81.5347ZM81.5347 30.4302H88.2496V33.7877H81.5347V30.4302ZM88.2496 24.7531V27.0728H81.5347V21.3956L88.2496 24.7531Z"
                    fill="#8F7883"
                  />
                </svg>
              </div>
            </div>
            <div class="mt-3 sm:ml-6 sm:mt-0 lg:ml-0 lg:mt-6">
              <h3 class="text-sm font-medium text-gray-900">{service.title}</h3>
              <p class="mt-2 text-sm text-gray-500">{service.description}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
