<section class="section grid grid-cols-2 gap-20">
    <div class="space-y-10 self-center">
        <h3 class="text-[#423139] text-6xl">Visit us @ Frisco, TX</h3>
        <div class="text-[#8F7880] space-x-5">
            <h5 class="text-3xl">Brows with Nana</h5>
            <div class="text-2xl before:content-location-pin-dark">
                Hoshi Studio
                <br />
                in Frisco, TX
            </div>
            <div class="text-2xl before:content-phone">+120 XXXX XXX</div>
            <div class="text-2xl before:content-email">
                browswithnana@gmail.com
            </div>
            <button type="button" class="btn">View on map</button>
        </div>
    </div>
    <div class="leaf-image-container">
        <img src="images/visit-us.jpg" />
    </div>
</section>
